h1{
    color:aquamarine

}

.header{
    background-color: red;
    display:flex;
    justify-content: space-between; 
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p, h2{
    text-align: center;
}